Let's try to go back to that gene-based analysis I started yesterday.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
%matplotlib inline

In [3]:
# figure out who is who in each trio
import glob
ped_file = '/data/sudregp/cnv/simplex.ped'
wes_prefix = ['CLIA', 'CCGO', 'WPS']
trios = []
affected = []
controls = []
samples = []
famids = []
fid = open(ped_file, 'r')
for line in fid:
    famid, sid, fa, mo, sex, aff = line.rstrip().split('\t')
    if fa[:4] in wes_prefix and mo[:4] in wes_prefix and sid[:4] in wes_prefix:
        fam = {}
        fam['child'] = sid
        if aff == '1':
            affected.append(sid)
        else:
            controls.append(sid)
        fam['father'] = fa
        fam['mother'] = mo
        fam['famid'] = famid
        trios.append(fam)
        samples += [sid, fa, mo]
        famids.append(famid)
fid.close()
samples = set(samples)
famids = set(famids)

fid = open('/data/sudregp/cnv/kid_samples.txt', 'r')
good_kids = [line.rstrip() for line in fid]
fid.close()

In [4]:
fid = open('/home/sudregp/data/cnv/xhmm/denovo_lenBT0_genes.reg')
genes = {}
for line in fid:
    if line.find('RANGE') >= 0:
        gene = line.split(' ')[-2]
        genes[gene] = 0
    elif line.find('DUP') > 0 or line.find('DEL') > 0:
        genes[gene] += 1
fid.close()
df = pd.DataFrame.from_dict(genes, orient='index')
df.columns = ['count']
df.sort_values(by='count', ascending=False).head(10)

            count
NBPF20          8
NBPF9           8
GOLGA6L10       7
GOLGA6L9        6
GOLGA6L17P      6
CROCC           5
PI4KAP1         5
GSTT1           5
MIR548N         5
PPP1R10         5

So, these genes are hit by CNVs in 5 to 8 kids, out of the 49 trios we have. And these are all denovo results, which means that it'd be nice if any of those all belong to affected kids. Or maybe even a combination would work? How about some sort of deletion is bad, duplication is good scheme?

In [24]:
dfs = df.sort_values(by='count', ascending=False).head(10)
for index, count in dfs.iterrows():
    nlines = count[0]
    gene = index
    fid = open('/home/sudregp/data/cnv/xhmm/denovo_lenBT0_genes.reg')
    for line in fid:
        if line.find(gene) >= 0:
            print line.rstrip()
            for i in range(nlines + 1):
                line = fid.next()
                print line.rstrip()
    fid.close()

RANGE (+/- 0kb )  [ 1 144146810 146467744 NBPF20 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400170        1    1    144674717    144684957    DEL    10.24        1 0.004412 0.004412
   1   CLIA_400123        2    1    144816539    144855868    DEL    39.33        1  0.01695  0.01695
   1   CLIA_400181        1    1    144935052    144952344    DEL    17.29        1 0.007451 0.007451
   1   CLIA_400179        1    1    144955188    145075113    DUP    119.9        1  0.05167  0.05167
   1   CLIA_400170        1    1    144955188    145075903    DEL    120.7        1  0.05201  0.05201
   1   CLIA_400132        2    1    145248734    145290569    DUP    41.84        1  0.01803  0.01803
   1   CLIA_400166        1    1    145273133    145290569    DUP    17.44        1 0.007513 0.007513
   1   CLIA_400142        1    1    145281327    145295626    DEL     14.3        1 0.006161 0.006161
RANGE (+/- 0kb )  [ 1 144614958 145370304 NBPF9 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400170        1    1    144674717    144684957    DEL    10.24        1  0.01356  0.01356
   1   CLIA_400123        2    1    144816539    144855868    DEL    39.33        1  0.05207  0.05207
   1   CLIA_400181        1    1    144935052    144952344    DEL    17.29        1  0.02289  0.02289
   1   CLIA_400179        1    1    144955188    145075113    DUP    119.9        1   0.1588   0.1588
   1   CLIA_400170        1    1    144955188    145075903    DEL    120.7        1   0.1598   0.1598
   1   CLIA_400132        2    1    145248734    145290569    DUP    41.84        1  0.05539  0.05539
   1   CLIA_400166        1    1    145273133    145290569    DUP    17.44        1  0.02308  0.02308
   1   CLIA_400142        1    1    145281327    145295626    DEL     14.3        1  0.01893  0.01893
RANGE (+/- 0kb )  [ 15 82632349 83018198 GOLGA6L10 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400144        1   15     82611934     82664578    DEL    52.64   0.6122  0.07933  0.08353
   1   CLIA_400130        2   15     82917384     82917960    DUP    0.576        1 0.001495 0.001495
   1   CLIA_400210        1   15     82917384     83015629    DEL    98.25        1   0.2546   0.2546
   1   CLIA_400181        1   15     82917384     83015629    DEL    98.25        1   0.2546   0.2546
   1   CLIA_400129        2   15     82917384     83041282    DEL    123.9   0.8137   0.2465   0.2613
   1   CLIA_400144        1   15     83011424     83041282    DUP    29.86   0.2269  0.01657  0.01756
   1   CLIA_400130        2   15     83011424     83041282    DUP    29.86   0.2269  0.01657  0.01756
RANGE (+/- 0kb )  [ 15 82804768 83108111 GOLGA6L9 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400130        2   15     82917384     82917960    DUP    0.576        1 0.001902 0.001902
   1   CLIA_400210        1   15     82917384     83015629    DEL    98.25        1   0.3239   0.3239
   1   CLIA_400181        1   15     82917384     83015629    DEL    98.25        1   0.3239   0.3239
   1   CLIA_400129        2   15     82917384     83041282    DEL    123.9        1   0.4084   0.4084
   1   CLIA_400144        1   15     83011424     83041282    DUP    29.86        1  0.09843  0.09843
   1   CLIA_400130        2   15     83011424     83041282    DUP    29.86        1  0.09843  0.09843
RANGE (+/- 0kb )  [ 15 82804002 83195272 GOLGA6L17P ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400130        2   15     82917384     82917960    DUP    0.576        1 0.001475 0.001475
   1   CLIA_400210        1   15     82917384     83015629    DEL    98.25        1   0.2511   0.2511
   1   CLIA_400181        1   15     82917384     83015629    DEL    98.25        1   0.2511   0.2511
   1   CLIA_400129        2   15     82917384     83041282    DEL    123.9        1   0.3167   0.3167
   1   CLIA_400144        1   15     83011424     83041282    DUP    29.86        1  0.07631  0.07631
   1   CLIA_400130        2   15     83011424     83041282    DUP    29.86        1  0.07631  0.07631
RANGE (+/- 0kb )  [ 1 17248444 17299474 CROCC ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400144        1    1     17197451     17272968    DEL    75.52   0.3248   0.2404   0.4806
   1   CLIA_400172        1    1     17248465     17272121    DUP    23.66        1   0.4636   0.4636
   1   CLIA_400203        1    1     17256335     17272968    DEL    16.63        1    0.326    0.326
   1   CLIA_400170        1    1     17256335     17272968    DEL    16.63        1    0.326    0.326
   1   CLIA_400159        1    1     17256813     17272968    DEL    16.16        1   0.3166   0.3166
RANGE (+/- 0kb )  [ 22 20383730 20398695 PI4KAP1 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400125        2   22     20379593     20398712    DUP    19.12   0.7827   0.7827        1
   1   CLIA_400191        1   22     20383804     20456795    DUP    72.99    0.204   0.2038   0.9951
   1   CLIA_400134        2   22     20385663     20456795    DEL    71.13   0.1832   0.1784   0.8708
   1   CLIA_400175        1   22     20385663     20456795    DEL    71.13   0.1832   0.1784   0.8708
   1   CLIA_400158        1   22     20385663     20457812    DEL    72.15   0.1806   0.1759   0.8708
RANGE (+/- 0kb )  [ 22 24376138 24384284 GSTT1 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400195        1   22     24340674     24396365    DEL    55.69   0.1463   0.1463        1
   1   CLIA_400128        2   22     24342183     24396365    DEL    54.18   0.1504   0.1504        1
   1   CLIA_400210        1   22     24342183     24396365    DEL    54.18   0.1504   0.1504        1
   1   CLIA_400127        2   22     24344178     24396365    DEL    52.19   0.1561   0.1561        1
   1   CLIA_400203        1   22     24345590     24398614    DUP    53.02   0.1536   0.1536        1
RANGE (+/- 0kb )  [ 2 179246804 179541009 MIR548N ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400178        2    2    179368504    179372788    DEL    4.284        1  0.01456  0.01456
   1   CLIA_400149        2    2    179472508    179473234    DUP    0.726        1 0.002471 0.002471
   1   CLIA_400158        1    2    179517650    179518786    DUP    1.136        1 0.003865 0.003865
   1   CLIA_400132        2    2    179518364    179518786    DUP    0.422        1 0.001438 0.001438
   1   CLIA_400178        2    2    179531438    179537358    DEL     5.92        1  0.02013  0.02013
RANGE (+/- 0kb )  [ 6 30568176 30585084 PPP1R10 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400126        2    6     30568534     30569472    DEL    0.938        1  0.05553  0.05553
   1   CLIA_400203        1    6     30568828     30571131    DUP    2.303        1   0.1363   0.1363
   1   CLIA_400133        1    6     30570410     30572089    DEL    1.679        1  0.09936  0.09936
   1   CLIA_400131        2    6     30571851     30572808    DUP    0.957        1  0.05666  0.05666
   1   CLIA_400139        1    6     30576447     30596231    DUP    19.78   0.4366   0.3079   0.5109

In PLINK notation, 1 is unaffected, 2 is affected.

Not really... CROCC could be protective, but that's pretty much it. What if we use the clean denovo set only?

In [27]:
fid = open('/home/sudregp/data/cnv/xhmm/denovo_clean_lenBT0_genes.reg')
genes = {}
for line in fid:
    if line.find('RANGE') >= 0:
        gene = line.split(' ')[-2]
        genes[gene] = 0
    elif line.find('DUP') > 0 or line.find('DEL') > 0:
        genes[gene] += 1
fid.close()
df = pd.DataFrame.from_dict(genes, orient='index')
df.columns = ['count']
df.sort_values(by='count', ascending=False).head(10)

        count
ABHD13      4
LCORL       3
CHD9        2
NCAPG       2
SP3         2
CREBRF      2
ETNK1       2
DOCK7       1
MSH6        1
CCDC39      1

Let's narrow it down to 2 tops, even though that's already pushing it:

In [28]:
dfs = df.sort_values(by='count', ascending=False).head(7)
for index, count in dfs.iterrows():
    nlines = count[0]
    gene = index
    fid = open('/home/sudregp/data/cnv/xhmm/denovo_clean_lenBT0_genes.reg')
    for line in fid:
        if line.find(gene) >= 0:
            print line.rstrip()
            for i in range(nlines + 1):
                line = fid.next()
                print line.rstrip()
    fid.close()

RANGE (+/- 0kb )  [ 13 108870762 108886603 ABHD13 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400122        2   13    108882417    108884732    DUP    2.315        1   0.1462   0.1462
   1   CLIA_400158        1   13    108882417    108886344    DEL    3.927        1   0.2479   0.2479
   1   CLIA_400123        2   13    108882665    108885500    DUP    2.835        1    0.179    0.179
   1   CLIA_400178        2   13    108882844    108886540    DEL    3.696        1   0.2334   0.2334
RANGE (+/- 0kb )  [ 4 17844838 18023483 LCORL ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400123        2    4     17845860     17879030    DUP    33.17        1   0.1857   0.1857
   1   CLIA_400178        2    4     17845860     17879761    DEL     33.9        1   0.1898   0.1898
   1   CLIA_400204        2    4     17878089     17878822    DEL    0.733        1 0.004109 0.004109
RANGE (+/- 0kb )  [ 16 53088944 53361414 CHD9 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400178        2   16     53358611     53361477    DEL    2.866    0.978  0.01029  0.01029
   1   CLIA_400203        1   16     53358753     53361477    DEL    2.724   0.9769 0.009768  0.00977
RANGE (+/- 0kb )  [ 4 17812435 17846487 NCAPG ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400123        2    4     17845860     17879030    DUP    33.17  0.01893  0.00943  0.01844
   1   CLIA_400178        2    4     17845860     17879761    DEL     33.9  0.01852 0.009328  0.01844
RANGE (+/- 0kb )  [ 2 174771186 174830430 SP3 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400122        2    2    174773152    174774713    DUP    1.561        1  0.02637  0.02637
   1   CLIA_400178        2    2    174773152    174774787    DEL    1.635        1  0.02761  0.02761
RANGE (+/- 0kb )  [ 5 172483354 172566291 CREBRF ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400178        2    5    172561387    172563967    DEL     2.58        1  0.03112  0.03112
   1   CLIA_400122        2    5    172561849    172563590    DUP    1.741        1    0.021    0.021
RANGE (+/- 0kb )  [ 12 22778075 22843608 ETNK1 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400123        2   12     22837754     22843415    DUP    5.661        1   0.0864   0.0864
   1   CLIA_400178        2   12     22837754     22843608    DEL    5.854        1  0.08934  0.08934

Now this becomes a bit more interesting. Especially if we talk about combinations of genes. Say, you're screwed if you have two (or more) disrupted of the genes in this list. In that case, 400122 has 3, 400123 has 4, 400178 has 7. Does it vary with symptoms?

What if we do a similar analysis in all genes (not only denovo)?

# all CNVs

In [25]:
fid = open('/home/sudregp/data/cnv/xhmm/all_lenBT0_genes.reg')
genes = {}
for line in fid:
    if line.find('RANGE') >= 0:
        gene = line.split(' ')[-2]
        genes[gene] = 0
    elif line.find('DUP') > 0 or line.find('DEL') > 0:
        genes[gene] += 1
fid.close()
df = pd.DataFrame.from_dict(genes, orient='index')
df.columns = ['count']
df.sort_values(by='count', ascending=False).head(10)

           count
NBPF20        80
NBPF9         63
FCGBP         54
MIR548N       53
AHNAK2        45
GOLGA6L22     45
PCDHA6        43
PCDHA2        43
PCDHA3        43
PCDHA1        43

Now our counts go up to 98, because we're looking at all individuals. Still, some of those counts look quite high. Let's use the clean set instead:

In [30]:
fid = open('/home/sudregp/data/cnv/xhmm/all_clean_lenBT0_genes.reg')
genes = {}
for line in fid:
    if line.find('RANGE') >= 0:
        gene = line.split(' ')[-2]
        genes[gene] = 0
    elif line.find('DUP') > 0 or line.find('DEL') > 0:
        genes[gene] += 1
fid.close()
df = pd.DataFrame.from_dict(genes, orient='index')
df.columns = ['count']
df.sort_values(by='count', ascending=False).head(10)

         count
NXF2         9
ABHD13       8
SP3          6
CCDC168      5
THAP5        5
MAGEA6       5
PNPLA8       5
LYSMD3       4
MIER1        4
LCORL        4

This is better, but it's still out of 98. Anything comes out as interesting? (let's print only the kids)

In [39]:
dfs = df.sort_values(by='count', ascending=False).head(7)
for index, count in dfs.iterrows():
    nlines = count[0]
    gene = index
    fid = open('/home/sudregp/data/cnv/xhmm/all_clean_lenBT0_genes.reg')
    for line in fid:
        if line.find(gene) >= 0:
            print line.rstrip()
            for i in range(nlines + 1):
                line = fid.next()
                if line.find('FID') < 0:
                    sample = line.split('   ')[2]
                    if sample in affected + controls:
                        print line.rstrip()
                else:
                    print line.rstrip()
    fid.close()

RANGE (+/- 0kb )  [ X 101615315 101694929 NXF2 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400138        1   23    101615646    101620272    DUP    4.626        1  0.05812  0.05812
   1   CLIA_400128        2   23    101615646    101620272    DEL    4.626        1  0.05812  0.05812
   1   CLIA_400122        2   23    101615646    101620272    DUP    4.626        1  0.05812  0.05812
   1   CLIA_400149        2   23    101615646    101620272    DUP    4.626        1  0.05812  0.05812
   1   CLIA_400129        2   23    101615646    101620272    DEL    4.626        1  0.05812  0.05812
   1   CCGO_800980        2   23    101615646    101620272    DEL    4.626        1  0.05812  0.05812
   1   CCGO_800979        1   23    101615646    101620272    DUP    4.626        1  0.05812  0.05812
   1   CLIA_400142        1   23    101619868    101620272    DUP    0.404        1 0.005087 0.005087
   1   CLIA_400131        2   23    101619868    101620272    DUP    0.404        1 0.005087 0.005087
RANGE (+/- 0kb )  [ 13 108870762 108886603 ABHD13 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400204        2   13    108881453    108886540    DEL    5.087        1   0.3212   0.3212
   1   CCGO_800980        2   13    108881532    108884955    DEL    3.423        1   0.2161   0.2161
   1   CLIA_400122        2   13    108882417    108884732    DUP    2.315        1   0.1462   0.1462
   1   CLIA_400158        1   13    108882417    108886344    DEL    3.927        1   0.2479   0.2479
   1   CLIA_400123        2   13    108882665    108885500    DUP    2.835        1    0.179    0.179
   1   CLIA_400139        1   13    108882665    108886171    DUP    3.506        1   0.2214   0.2214
   1   CLIA_400178        2   13    108882844    108886540    DEL    3.696        1   0.2334   0.2334
   1   CCGO_800979        1   13    108884227    108884732    DUP    0.505        1  0.03194  0.03194
RANGE (+/- 0kb )  [ 2 174771186 174830430 SP3 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400122        2    2    174773152    174774713    DUP    1.561        1  0.02637  0.02637
   1   CLIA_400127        2    2    174773152    174774713    DUP    1.561        1  0.02637  0.02637
   1   CLIA_400178        2    2    174773152    174774787    DEL    1.635        1  0.02761  0.02761
   1   CLIA_400204        2    2    174773291    174774970    DEL    1.679        1  0.02836  0.02836
   1   CLIA_400203        1    2    174773642    174774787    DEL    1.145        1  0.01934  0.01934
   1   CLIA_400205        2    2    174774112    174774713    DEL    0.601        1  0.01016  0.01016
RANGE (+/- 0kb )  [ 13 103381716 103411422 CCDC168 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400178        2   13    103390826    103394108    DEL    3.282        1   0.1105   0.1105
   1   CLIA_400125        2   13    103392095    103396902    DEL    4.807        1   0.1618   0.1618
   1   CLIA_400153        2   13    103393805    103394378    DEL    0.573        1  0.01932  0.01932
   1   CLIA_400178        2   13    103395363    103397013    DEL     1.65        1  0.05558  0.05558
   1   CLIA_400123        2   13    103399256    103401605    DUP    2.349        1  0.07911  0.07911
RANGE (+/- 0kb )  [ 7 108202587 108210212 THAP5 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400139        1    7    108154949    108205421    DUP    50.47  0.05617   0.0513   0.3718
   1   CLIA_400122        2    7    108154949    108205421    DUP    50.47  0.05617   0.0513   0.3718
   1   CLIA_400210        1    7    108155147    108205289    DUP    50.14  0.05391  0.04909   0.3544
   1   CLIA_400178        2    7    108155341    108214800    DEL    59.46   0.1283   0.1283        1
   1   CLIA_400203        1    7    108155450    108205421    DEL    49.97  0.05673  0.05177   0.3718
RANGE (+/- 0kb )  [ X 151867244 151870814 MAGEA6 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400153        2   23    151869475    151870790    DEL    1.315        1   0.3685   0.3685
   1   CLIA_400138        1   23    151869686    151870790    DEL    1.104        1   0.3094   0.3094
   1   CCGO_800979        1   23    151869893    151870790    DEL    0.897        1   0.2515   0.2515
   1   CLIA_400152        1   23    151870032    151870790    DEL    0.758        1   0.2125   0.2125
   1   CLIA_400133        1   23    151870323    151870790    DEL    0.467        1   0.1311   0.1311
RANGE (+/- 0kb )  [ 7 108110865 108168605 PNPLA8 ]
 FID           IID      PHE  CHR          BP1          BP2   TYPE       KB     OLAP   OLAP_U   OLAP_R
   1   CLIA_400139        1    7    108154949    108205421    DUP    50.47   0.2706   0.1444   0.2365
   1   CLIA_400122        2    7    108154949    108205421    DUP    50.47   0.2706   0.1444   0.2365
   1   CLIA_400210        1    7    108155147    108205289    DUP    50.14   0.2684   0.1425   0.2331
   1   CLIA_400178        2    7    108155341    108214800    DEL    59.46   0.2231   0.1276   0.2297
   1   CLIA_400203        1    7    108155450    108205421    DEL    49.97   0.2633   0.1391   0.2278

CCDC could be something. Or we could look into the combinations deal as well.

# TODO

* Look at combination of genes?
* Come up with permutation test to get p-values here.
* Apply CNV length cleaning
* Play with quality knob.
* Follow QC rules from XHMM papers 
* Look into sex chromosomes? Something to the idea that adhd is more present in boys...
* Play with the HMM parameters
* do population frequency filtering first?
* Include parent burden in the analysis
* Match with file of ranked simplex by Wendy (maybe blindly)?
* Try other WES CNV callers?